{{ define "index" }}
<!DOCTYPE html>
<html lang="en">

{{ template "head" . }}

<body>
	<div class="wrapper">
		{{ template "sidebar" . }}
		

		<div class="main">
			{{ template "header" . }}
			<main class="content">
				<div class="container-fluid p-0">
					<div id="main"></div>
				</div>
			</main>

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-start">
							<p id="copyRight" class="mb-0">
								<a class="text-muted" href="/admin" target="_blank"><strong>GoCMS</strong></a> &copy;
							</p>
							<script>
								document.getElementById("copyRight").innerText += " " + new Date().getFullYear();
							</script>
						</div>
						<div class="col-6 text-end">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" href="/admin" target="_blank">Support</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="/admin" target="_blank">Help Center</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="/admin" target="_blank">Privacy</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="/admin" target="_blank">Terms</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
  <script src="static/admin/js/jwt.js"></script>
  <script src="static/admin/js/app.js"></script>
  <script src="static/admin/js/index.js"></script>
  <script type="application/javascript">


    $.ajaxSetup({
      'headers': { "Authorization": getCookie('jwt') }
    });

    // $("#sidebar").load("sidebar");
    htmx.on('htmx:responseError', function(event) { 
      console.log(event.detail.xhr.status);
      alert("ERROR: " + event.detail.xhr.status);
      if (event.detail.xhr.status == 401) {
        window.location.href = {{ .sign_in_url }};
      }
    });
  </script>

</body>

</html>
{{ end }}
