{{ define "onepagewonder/index" }}
<!DOCTYPE html>
<html lang="en">
    {{ template "onepagewonder/head" . }}
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container px-5">
                <a class="navbar-brand" href="#page-top">{{ .Brand }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <!-- Dynamically place rest of nav-link's -->
                        {{ range .NavBarLinks }}
                        <li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .Text }}</a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-0">{{ .Heading }}</h1>
                    <h2 class="masthead-subheading mb-0">{{ .Subheading }}</h2>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <!-- Content section 1-->
        {{ range $index, $item := .FeaturedItems }}
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 {{ if eq (mod $index 2) 0 }}order-lg-2{{ else }}order-lg-1{{ end }}">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{{ $item.ImageURL }}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 {{ if eq (mod $index 2) 0 }}order-lg-1{{ else }}order-lg-2{{ end }}">
                        <div class="p-5">
                            <h2 class="display-4">{{ $item.Title }}</h2>
                            <p>{{ $item.Body }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ end }}
        <!-- Footer-->
        <footer class="py-5 bg-black">
            <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy {{ .Brand }}</p><p id="currentYear" class="m-0 text-center text-white small"></p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/onepagewonder/js/scripts.js"></script>
        <!-- JS to get current year -->
        <script>
            document.getElementById("currentYear").innerText = new Date().getFullYear();
        </script>
    </body>
</html>
{{ end }}}