{{ define "clickable_table" }}
<div style="height: 30vh; overflow-y: scroll;">
  <table id="{{ .ClickableTable.TableID }}" class="table table-hover">
    {{ range $i, $row := .ClickableTable.Table }}
    <thead>
        {{ if eq $i 0 }}
        <tr>
            {{ range $key, $val := $row }}
            <th scope="col">{{ $key }}</th>
            {{ end }}
        </tr>
        {{ end }}
    </thead>
    <tbody>
        <tr>
            {{ range $key, $val := $row }}
            <td>{{ $val }}</td>
            {{ end }}
        </tr>
    </tbody>
    {{ end }}
</table>


    <script type="text/javascript">
        {{ .ClickableTable.JavaScript }}
        var {{ .ClickableTable.TableID }}SelectedRow = null;
        function handleRowClick(table, callback = null) {
            const rows = table.getElementsByTagName("tr");
            for (let i = 0; i < rows.length; i++) {
                rows[i].addEventListener("click", function () {
                    const cols = this.getElementsByTagName("td");
                    const payload = {};
                    for (let j = 0; j < cols.length; j++) {
                        const key = table.getElementsByTagName("th")[j].innerHTML;
                        const val = cols[j].innerHTML;
                        payload[key] = val;
                    }
                    const apiEndpoint = "/user/" + payload["ID"];
                    {{ .ClickableTable.TableID }}SelectedRow = payload["ID"];
                    console.log("Selected row: " + {{ .ClickableTable.TableID }}SelectedRow);
                    if (callback != null) {
                        callback();
                    }

                });
            }
        }
        handleRowClick(document.getElementById("{{ .ClickableTable.TableID }}"), {{ .ClickableTable.CallbackFunc }});
    </script>
</div>
{{ end }}
