{{ define "edit_user_form" }}
{{ template "clickable_table" . }}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Modify User</h5>
        <form id="edit_user_form" class="row g-3">
            <div class="col-12"> <label for="editUserFormId" class="form-label">ID</label> <input type="text"
                class="form-control" id="editUserFormId" readonly></div>

            <div class="col-12"> <label for="inputName" class="form-label">Name</label> <input type="text"
                    class="form-control" id="inputName"></div>
            <div class="col-12"> <label for="inputEmail" class="form-label">Email</label> <input type="email"
                    class="form-control" id="inputEmail"></div>
            <!-- attributes input -->
            <div class="col-12"> <label for="inputAttributes" class="form-label">attributes</label><input type="text"
                    class="form-control" id="inputAttributes"></div>
            <div class="text-center"> <button type="submit" class="btn btn-primary">Submit</button> <button type="reset"
                    class="btn btn-secondary">Reset</button></div>
        </form>
    </div>
</div>
{{ end }}