{{ define "clickable_table" }}
<div style="height: 30vh; overflow-y: scroll;">
  <table id="{{ .ClickableTable.TableID }}" class="table table-hover">
    {{ range $i, $row := .ClickableTable.Table }}
    <thead>
        {{ if eq $i 0 }}
        <tr>
            {{ range $key, $val := $row }}
            <th scope="col">{{ $key }}</th>
            {{ end }}
        </tr>
        {{ end }}
    </thead>
    <tbody>
        <tr>
            {{ range $key, $val := $row }}
            <td>{{ $val }}</td>
            {{ end }}
        </tr>
    </tbody>
    {{ end }}
</table>


    <script type="text/javascript">
        {{ .ClickableTable.JavaScript }}
        var {{ .ClickableTable.TableID }}SelectedRow = null;
        function handleRowClick(table, callback = null) {
            const rows = table.getElementsByTagName("tr");
            for (let i = 0; i < rows.length; i++) {
                rows[i].addEventListener("click", function () {
                    const cols = this.getElementsByTagName("td");
                    const payload = {};
                    for (let j = 0; j < cols.length; j++) {
                        const key = table.getElementsByTagName("th")[j].innerHTML;
                        const val = cols[j].innerHTML;
                        payload[key] = val;
                    }
                    const apiEndpoint = "/user/" + payload["ID"];
                    {{ .ClickableTable.TableID }}SelectedRow = payload["ID"];
                    console.log("Selected row: " + {{ .ClickableTable.TableID }}SelectedRow);
                    if (callback != null) {
                        callback();
                    }

                });
            }
        }
        function getRowData(tableId, columnName, columnValue) {
            console.log("getRowData-> params: " + tableId  + columnName + columnValue);
            // Get the table using its ID
            const table = document.getElementById(tableId);

            // Get the table headers
            const headers = table.getElementsByTagName("th");

            // Get the index of the target column
            let targetColumnIndex;
            for (let i = 0; i < headers.length; i++) {
                if (headers[i].textContent === columnName) {
                    targetColumnIndex = i;
                    break;
                }
            }

            // Get the table rows
            const rows = table.getElementsByTagName("tr");

            // Loop through each row
            for (let i = 0; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName("td");

            // Check if the target column exists in the row
            if (cells[targetColumnIndex]) {
                // Check if the value of the target column matches the columnValue
                if (cells[targetColumnIndex].textContent === columnValue) {
                // Get the header names
                const headerNames = Array.from(headers).map(header => header.textContent);

                // Get the cell values
                const cellValues = Array.from(cells).map(cell => cell.textContent);

                // Combine the header names and cell values into an object
                const rowData = headerNames.reduce((obj, headerName, index) => {
                    obj[headerName] = cellValues[index];
                    return obj;
                }, {});
                return rowData;
            }}}
            // Return null if the row is not found
            return null;
        }
        handleRowClick(document.getElementById("{{ .ClickableTable.TableID }}"), {{ .ClickableTable.CallbackFunc }});
    </script>
</div>
{{ end }}
