{{ define "modify_item_form" }}
{{ if .ClickableTable }}
{{ template "clickable_table" . }}
{{ end }}
{{ .Form }}
<script type="text/javascript">
    htmx.process(document.getElementById('{{ .FormID }}_form'));
    document.addEventListener('htmx:afterRequest', function (event) {
        if (event.detail.target.id != '{{ .EventTargetID }}') {return;}
        let url = '{{ .RefreshURL }}';
        let target = document.getElementById('main');
        htmx.ajax('GET', url, { target: target });
    });
</script>
{{ end }}
